@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.dashboard {
  background-size: cover;
  background-position: top;
  background-color: #1A1A26;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;
  overflow-y: scroll;
  font-family: 'Press Start 2P', sans-serif;
}

.boxtitle {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2vw;
}

.balance {
  padding: 1rem;
  margin: 2rem;
  font-size: 1rem;
  background-color: white;
  color: white;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 10%;
}

.sun {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
}

.asteroid {
  width: 5px;
  position: absolute;
  height: 5px;
  background-color: grey;
  border-radius: 50%;
}

.circle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: -22.5px;
  left: -22.5px;
  background-color: transparent;
}

.solar-system {
  position: absolute;
}

.map {
  position: absolute;
  transition: transform 0.3s ease-in-out;
  width: 75%;
  left: 25%;
  height: 82%;
  top: 8%;
  overflow: hidden;
}

.panel {
  position: fixed;
  top: 8%;
  right: 0;
  width: 75%;
  height: 80%;
  border: solid white 5px;
  background-color: #071f36;
  z-index: 10;
  transform: translateX(100%);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.panel.visible {
  animation: slideIn 0.3s ease forwards;
}

.panel.hidden {
  animation: slideOut 0.3s ease forwards;
}


.zoom-level-1 .map {
  transform: scale(1);
}

.zoom-level-2 .map {
  transform: scale(1.2);
}

.zoom-level-3 .map {
  transform: scale(1.4);
}

.game {

  width:20%;
  height: 20vh;
  background-size: cover;
  background-position: top;
  opacity: 65%;
  backround-color: white;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-text: center;
  font-size: 2rem;
  position: relative;
  position: absolute;
  font-family: 'Press Start 2P', sans-serif;

}

.profiletab {

  width:30%;
  height: 50vh;
  background-size: cover;
  background-position: top;
  opacity: 65%;
  backround-color: white;
  top: 5%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  position: relative;
  position: absolute;
  left: 5%;
  top: 100%;

}

.collectibleswrapper {

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-radius: 0.5rem;
  padding: 2rem;
}

.profile:hover {
  opacity: 0.9;
}

.myFriends:hover {
  opacity: 0.9;
}

.wallet:hover {
  opacity: 0.9;
}

.game:hover {
  opacity: 0.9;
}

.link {
  text-decoration: none;
}

.play-button {
  padding: 3vh;
  width: 100%;
  margin-left: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-color: transparent;
  border: 0.2vw solid white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 23%;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
}

.zoom-button1 {
  padding: 3vh;
  position: absolute;
  top: 8%;
  left: 32%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-color: #1A1A26;
  border: 0.2vw solid white;
  cursor: pointer;
  z-index: 9;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
}

.zoom-button2 {
  padding: 3vh;
  position: absolute;
  top: 8%;
  left: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  z-index: 9;
  background-color: #1A1A26;
  border: 0.2vw solid white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
}

.material-symbols-outlined {

  margin-right: 10%;
}

.wallet {

  position: absolute;

  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-image: url("./images/bluesquare.png");

  left: 45%;
  top: 35%;

  width: 25%;
  height: 25%;
}

.battle {

  position: absolute;

  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-image: url("./images/whitesquare.png");

  top: 5%;

  right: 30%;

  width: 25%;
  height: 25%;

}

.factions {

  position: absolute;

  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-image: url("./images/whitesquare.png");

  left: 27.5%;
  top: 35%;

  width: 25%;
  height: 25%;

}

.profile {

  position: absolute;

  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-image: url("./images/bluesquare.png");

  top: 5%;

  left: 27.5%;

  width: 25%;
  height: 25%;

}

  html {
  scroll-behavior: smooth;
  }

.play-button:hover {
  transform: scale(1.1);
  background-color: #151521;
}

.slide-out {
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.squarecontainer {

  width: 25%;
  height: 25%;
  top: 5%;
  right: 25%;
  position: absolute;
  transform: rotate(0deg);
  transition: transform 1s ease-out;
  transform-origin: 50% 50%;

}

.squarecontainer > div {
  position: absolute;
  transition: transform 1s ease-out;
  transform: rotate(0deg);
}

.squarecontainer > div.active {
  z-index: 1;
}


.bar {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  background-color: white;
}
