@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.home {
  background-image: url("./images/money.png");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  position: relative;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-align: center;
}

.titlebuildgame {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  position: absolute;
  margin: 0;
  bottom: 85%;
}

.joinaroom {
  color: white;
  font-size: 5vh;
  font-weight: 300;
  position: absolute;
  margin: 0;
  bottom: 75%;
  left: 25%;
  text-align: center;
}

.createaroom {
  color: white;
  font-size: 5vh;
  font-weight: 300;
  position: absolute;
  margin: 0;
  bottom: 75%;
  right: 23%;
  text-align: center;
}

.joinroombutton {
  padding: 1vh 4vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 800;
  background-color: transparent;
  border: 0.5vh solid white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5rem;
  position: absolute;
  left: 50vh;
  text-decoration: none;
}

.createroombutton {
  padding: 1vh 4vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 800;
  background-color: transparent;
  border: 0.5vh solid white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5rem;
  position: absolute;
  right: 49vh;
  text-decoration: none;
}

.createroombutton:hover, .joinroombutton:hover {
  transform: scale(1.1);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: bottom;
  text-decoration: none;
}

.form-input-roomname {
color: white;
display: flex;
width: 25vh;
align-items: center;
padding: 1.5vh 2vh;
font-size: 2.5vh;
font-weight: 800;
background-color: transparent;
position: absolute;
border: 0.5vh solid white;
transition: transform 0.3s ease, background-color 0.3s ease;
margin-top: 2vh;
text-decoration: none;
bottom: 60%;
left: 45vh;
}

.form-input-createroomname {
color: white;
width: 25vh;
display: flex;
align-items: center;
padding: 1.5vh 2vh;
font-size: 2.5vh;
font-weight: 800;
background-color: transparent;
position: absolute;
border: 0.5vh solid white;
transition: transform 0.3s ease, background-color 0.3s ease;
margin-top: 2vh;
text-decoration: none;
bottom: 60%;
right: 45vh;
}

.form-input-roomname input[type="text"] {
flex: 1;
background-color: transparent;
border: none;
font-size: inherit;
font-weight: inherit;
color: white;
margin-left: 2vh;
outline: none;
}

.form-input-createroomname input[type="text"] {
flex: 1;
background-color: transparent;
border: none;
font-size: inherit;
font-weight: inherit;
color: white;
margin-left: 2vh;
outline: none;
}


html {
  scroll-behavior: smooth;
}
