.chessboard-wrapper {
  background-image: url("./images/backround.png");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  max-height: 100vh;
  align-items: center;
}

.wrapper {
  position: absolute;
  top: 5vh;
  left: 31.5vw;
}

.chessboard {
  position: absolute;
  transform: translateX(-50%);
}

.room-info {
  align-content: center;
  text-align: center;
  background-color: white;
  font-size: 1.5vw;
  min-height: 60vh;
  top: 5vh;
  left: 5vh;
  border: 2px solid #000;
  width: 25vw;
  position: absolute;
  overflow-y: scroll;
  opacity: 0.6;
  transition: transform 0.5s ease;
}

.room-detail {
  align-content: center;
  background-color: white;
  font-size: 1.5vw;
  min-height: 10vh;
  top: 85vh;
  right: 5vw;
  border: 2px solid #000;
  width: 25vw;
  position: absolute;
  overflow-y: scroll;
  align-items: center;
  align-content: center;
  opacity: 0.6;
  transition: transform 0.5s ease;
}

.room-moves {
  align-content: center;
  text-align: center;
  background-color: white;
  font-size: 1.5vw;
  min-height: 60vh;
  top: 5vh;
  right: 5vw;
  border: 2px solid #000;
  width: 25vw;
  position: absolute;
  overflow-y: scroll;
  opacity: 0.6;
  transition: transform 0.5s ease;
}

.chat-window {

background-color: #282c34;

width: 25vw;

margin-left: 20%;

}

.room-info:hover {

  opacity:0.75;
}

.form-input-chat {

  width: 75%;
  display: flex;
  position: absolute;
  flex-direction: column;
  border: 2px solid #ddd;
  padding: 1vh;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  bottom: 0;

}

.form-submit-button {

  width: 19%;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 2px solid #ddd;
  align-items: center;
  padding: 1vh;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 81%;
  align-self: flex-end;
  bottom: 0;
  right: 0;
  text-align: center;
}

.room {

  position: absolute;
  left: 2.5vh;
  bottom: 0vh;

}

.turn {

  align-content: center;
  background-color: white;
  font-size: 2vh;
  min-height: 10vh;
  top: 70%;
  right: 5vw;
  border: 2px solid #000;
  width: 25vw;
  position: absolute;
  overflow-y: scroll;
  opacity: 0.6;
  transition: transform 0.5s ease;
  align-content: center;
  text-align: center;
  align-items: center;
}
