@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.dashboard {
  background-size: cover;
  background-position: top;
  background-color: #174688;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;
  overflow-y: scroll;
  font-family: 'Press Start 2P', sans-serif;
}

.boxtitle {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2vw;
}

.balance {
  padding: 1rem;
  margin: 2rem;
  font-size: 1rem;
  background-color: white;
  color: white;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 10%;
}

.solar-system {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.asteroid {
  width: 5px;
  position: absolute;
  height: 5px;
  background-color: grey;
  border-radius: 50%;
}

.circle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: -22.5px;
  left: -22.5px;
  background-color: transparent;
}

.map {
  position: absolute;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  left: 0%;
  height: 100%;
  top: 0;
  z-index: 0;
  overflow: hidden;
  user-select: none;
}

.terrain-image {

  width: 50px;
  height: 50px;

}

.panel {
  position: fixed;
  top: 8%;
  right: 0;
  width: 75%;
  height: 84%;
  border: solid white 5px;
  background-repeat: no-repeat;
  background-size:500%;
  background-position: center;
  background-image: url("./images/woodboard.png");
  z-index: 10;
  transform: translateX(100%);
}

.solar-system-panel {
  position: fixed;
  top: 8%;
  right: 0;
  width: 25%;
  height: 80%;
  border: solid white 5px;
  align-items: center;
  background-color: #071f36;
  z-index: 10;
  transform: translateX(100%);
}

.solar-system-panel.visible {
  animation: slideIn 0.3s ease forwards;
}

.solar-system-panel.hidden {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.panel.visible {
  animation: slideIn 0.3s ease forwards;
}

.panel.hidden {
  animation: slideOut 0.3s ease forwards;
}

.zoom-level-0 .map {
  transform: scale(0.8);
}

.zoom-level-1 .map {
  transform: scale(1);
}

.zoom-level-2 .map {
  transform: scale(1.2);
}

.zoom-level-3 .map {
  transform: scale(1.4);
}

.game {

  width:20%;
  height: 20vh;
  background-size: cover;
  background-position: top;
  backround-color: white;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-text: center;
  font-size: 2rem;
  position: relative;
  position: absolute;
  font-family: 'Press Start 2P', sans-serif;
  z-index: 1;

}

.collectibleswrapper {

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-radius: 0.5rem;
  padding: 2rem;
}

.link {
  text-decoration: none;
}

.panel-row {
  color: white;
  padding: 3.5vh;

}

.solar-panel-row {
  color: white;
  align-text: center;
  font-size: 1rem;
  padding: 3.5vh;
}

.grid {
      display: grid;
      height:96%;
      width:96%;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 0%; /* Updated row gap value */
      grid-column-gap: 2%;
      margin: 2%;
    }

    .grid-diplomacy {
          display: grid;
          height:130%;
          width:95%;
          grid-template-columns: repeat(3, 1fr);
          grid-row-gap: 0%; /* Updated row gap value */
          grid-column-gap: 2%;
          margin: 2%;
        }

    .grid-item {
      border: 5px solid black;
      background-color: grey;
      width: 100%;
      height: 60%;
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }

    .grid-item:hover {
      opacity: 1;
    }

.panel-row-last {
  position: absolute;
  top: -10%;
  right: 0;
  color: white;
  margin-top: 3%;
  padding: 3.5vh;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.play-button {
  padding: 2vh;
  width: 100%;
  margin-left: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url("./images/woodboard.png");
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 23%;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
}

.zoom-button1 {
  padding: 2vh;
  position: absolute;
  top: 8%;
  left: 32%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:500%;
  background-position: center;
  background-image: url("./images/woodboard.png");
  cursor: pointer;
  z-index: 9;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
}

.zoom-button2 {
  padding: 2vh;
  position: absolute;
  top: 8%;
  left: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  z-index: 9;
  background-repeat: no-repeat;
  background-size:500%;
  background-position: center;
  background-image: url("./images/woodboard.png");
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
}

.material-symbols-outlined {

  margin-right: 10%;
}

  html {
  scroll-behavior: smooth;
  }

.play-button:hover {
  transform: scale(1.1);
}

.zoom-button1:hover, .zoom-button2:hover {
  transform: scale(1.1);
}

.slide-out {
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.squarecontainer {

  width: 25%;
  height: 25%;
  top: 5%;
  right: 25%;
  position: absolute;
  transform: rotate(0deg);
  transition: transform 1s ease-out;
  transform-origin: 50% 50%;

}

.squarecontainer > div {
  position: absolute;
  transition: transform 1s ease-out;
  transform: rotate(0deg);
}

.squarecontainer > div.active {
  z-index: 1;
}


.bar {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  background-color: white;
}
