.dashboard {
  color: #fff;
  background-image: url("./images/Chess.png");
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;
  overflow-y: scroll;
}

.welcomesign {
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

.boxtitle {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.balance {
  padding: 1rem;
  margin: 2rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  border: 2px solid #000;
  position: absolute;
  bottom: 10%;
}

.collection {
  color: white;
  font-size: 2rem;
  position: absolute;
  margin: 0;
  right:0%;
  top:100vh;
  min-height: 100vh;
  width:100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.chesspieces {

  width:86%;
  height: 25vh;
  background-color: #282c34;
  opacity: 65%;
  backround-color: white;
  top: 110vh;
  display: flex;
  font-size: 2rem;
  border: 2px solid #000;
  position: absolute;
  left: 7%;
  align-items: center;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth; /* adds smooth scrolling */
  white-space: nowrap; /* keeps images on one line */

}

.scrollableimage {

  width: 20vh;
  height: 12.5vh;
  margin: 2vh;
}

.chessboards {

  width:86%;
  height: 25vh;
  background-color: #282c34;
  opacity: 65%;
  backround-color: white;
  top: 137.5vh;
  display: flex;
  font-size: 2rem;
  border: 2px solid #000;
  position: absolute;
  left: 7%;
  align-items: center;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth; /* adds smooth scrolling */
  white-space: nowrap; /* keeps images on one line */

}

.knights {

  width:86%;
  height: 25vh;
  background-color: #282c34;
  opacity: 65%;
  backround-color: white;
  top: 165vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-text: center;
  font-size: 2rem;
  border: 2px solid #000;
  position: absolute;
  left: 7%;

}

.myFriends {

  width:25rem;
  height: 80vh;
  background-color: #282c34;
  opacity: 65%;
  backround-color: white;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-text: center;
  font-size: 2rem;
  border: 2px solid #000;
  position: absolute;
  left: 65%;

}

.game {

  width:25rem;
  height: 80vh;
  align-items: center;
  background-color: #282c34;
  opacity: 65%;
  backround-color: white;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;
  align-text: center;
  border: 2px solid #000;
  position: absolute;

}

.myCollectibles {

  width:25rem;
  height: 50vh;
  align-items: center;
  background-color: #282c34;
  opacity: 65%;
  backround-color: white;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-text: center;
  font-size: 2rem;
  position: relative;
  border: 2px solid #000;
  position: absolute;
  right: 65%;

}

.wallet {

  width:25rem;
  height: 28vh;
  align-items: center;
  background-color: #282c34;
  opacity: 65%;
  backround-color: white;
  top: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-text: center;
  font-size: 2rem;
  position: relative;
  border: 2px solid #000;
  position: absolute;
  right: 65%;

}

.collectibleswrapper {

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-radius: 0.5rem;
  padding: 2rem;
}

.myCollectibles:hover {
  opacity: 0.9;
}

.myFriends:hover {
  opacity: 0.9;
}

.wallet:hover {
  opacity: 0.9;
}

.chesspieces:hover {
  opacity: 0.9;
}

.chessboards:hover {
  opacity: 0.9;
}

.knights:hover {
  opacity: 0.9;
}

.game:hover {
  opacity: 0.9;
}

.play-button {
  padding: 5vh;
  width: 45vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 800;
  background-color: transparent;
  border: 0.5vh solid white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5rem;
  text-decoration: none;
}

  html {
  scroll-behavior: smooth;
  }

.play-button:hover {
  transform: scale(1.1);
  background-image: url("./images/soldier.png");
  color: transparent;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: bottom;
  text-decoration: none;
}

.slide-out {
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.bar {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  background-color: white;
}
