.Character {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  z-index: 5;
  margin-top: -50px; /* Half of the square's height */
  margin-left: -50px; /* Half of the square's width */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./images/character.png");
  image-rendering: pixelated;
}

.Fight {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  z-index: 5;
  margin-top: -50px; /* Half of the square's height */
  margin-left: -50px; /* Half of the square's width */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;
  animation: fighting 1s steps(4) infinite;
}

.green {

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./images/grassblock.png");

}

.tree {

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./images/tree.png");

}

.yellow {

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("./images/sand.png");

}




@keyframes fighting {
  0% {
    background-image: url("./images/fight/fight1.png");
  }
  25% {
    background-image: url("./images/fight/fight2.png");
  }
  50% {
    background-image: url("./images/fight/fight3.png");
  }
  75% {
    background-image: url("./images/fight/fight4.png");
  }
}


.Running {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  z-index: 5;
  margin-top: -50px; /* Half of the square's height */
  margin-left: -50px; /* Half of the square's width */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;
  animation: runningAnimation 0.4s steps(4) infinite;
}

.RunningLeft {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  z-index: 5;
  margin-top: -50px; /* Half of the square's height */
  margin-left: -50px; /* Half of the square's width */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;
  animation: runningAnimationLeft 0.4s steps(4) infinite;
}

@keyframes runningAnimation {
  0% {
    background-image: url("./images/running/frame1.gif");
  }
  25% {
    background-image: url("./images/running/frame2.gif");
  }
  50% {
    background-image: url("./images/running/frame3.gif");
  }
  75% {
    background-image: url("./images/running/frame4.gif");
  }
}

@keyframes runningAnimationLeft {
  0% {
    background-image: url("./images/running/frame1.png");
  }
  25% {
    background-image: url("./images/running/frame2.png");
  }
  50% {
    background-image: url("./images/running/frame3.png");
  }
  75% {
    background-image: url("./images/running/frame4.png");
  }
}

.health-bar {
  padding-top: 7%;
  padding-bottom: 7%;
  margin-left: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-color: #eb4034;
  border: 2px solid black;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 25%;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.stamina-bar {
    padding-top: 7%;
    padding-bottom: 7%;
    width: 100%;
    margin-left: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    font-weight: 500;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: transparent;
    border: 2px solid black;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: 23%;
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif;
    user-select: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.stamina-level {
  position:absolute;
    width: 100%;
    height:30%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: blue;
    transition: transform 1s ease, background-color 1s ease;
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif;
    user-select: none;
     transform-origin: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hunger-bar {
  padding-top: 7%;
  padding-bottom: 7%;
  width: 100%;
  margin-left: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-color: orange;
  border: 2px solid black;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 30%;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.Dashboard {
  background-size: cover;
  background-position: top;
  background-color: #23437e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;
  overflow-y: hidden;
  font-family: 'Press Start 2P', sans-serif;

}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.dashboard {
  background-size: cover;
  background-position: top;
  background-color: #23437e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  position: relative;
  overflow-y: scroll;
  font-family: 'Press Start 2P', sans-serif;
}

.boxtitle {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2vw;
}
.balance {
  padding: 1rem;
  margin: 2rem;
  font-size: 1rem;
  background-color: white;
  color: white;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 10%;
}

.solar-system {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}
.map {
  position: absolute;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  z-index: 0;
  overflow: hidden;
  user-select: none;
}
.panel {
  position: fixed;
  top: 8%;
  right: 0;
  width: 75%;
  height: 83.5%;
  border: solid white 5px;
  background-repeat: no-repeat;
  background-size:500%;
  background-position: center;
  background-image: url("./images/woodboard.png");
  z-index: 10;
  transform: translateX(100%);
  user-select: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.solar-system-panel {
  position: fixed;
  top: 8%;
  right: 0;
  width: 25%;
  height: 83%;
  border: solid white 5px;
  align-items: center;
  background-color: #071f36;
  z-index: 10;
  background-repeat: no-repeat;
  background-size:1000%;
  background-position: center;
  background-image: url("./images/woodboard.png");
  transition: transform 0.5s;
  transform-origin: right center;
  transform: translateX(100%);
}

.lumbermill {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/lumbermill.png");
  background-size: 100%;
  image-rendering: pixelated;
}

.wheatfarm {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/wheatfarm.png");
  background-size: 100%;
  image-rendering: pixelated;
}

.harbor {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/harbor.png");
  background-size: 100%;
  image-rendering: pixelated;
}

.coffeefarm {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/coffeefarm.png");
  background-size: 100%;
  image-rendering: pixelated;
}

.mine {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/mine.png");
  background-size: 100%;
  image-rendering: pixelated;
}

.fishinghut {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/fishinghut.png");
  background-size: 100%;
  image-rendering: pixelated;
}

.cannon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/cannon.png");
  background-size: 100%;
  image-rendering: pixelated;
}


.solar-system-panel.visible {
  transform: translateX(0%);
}

.solar-system-panel.hidden {
  transform: translateX(100%);
}

.solar-system-panel.open {
  transform-origin: left center;
  transform: translateX(-100%);
}

.solar-system-panel.close {
  transform-origin: right center;
  transform: translateX(0%);
}

.solar-system-panel.switch {
  animation: pulse 0.3s ease linear;
}

.solar-system-panel.visible {
  animation: slideIn 0.3s ease forwards;
}

.solar-system-panel.hidden {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.panel.visible {
  animation: slideIn 0.3s ease forwards;
}

.panel.hidden {
  animation: slideOut 0.3s ease forwards;
}

.zoom-level-0 .map {
  transform: scale(0.8);
}

.zoom-level-1 .map {
  transform: scale(1);
}

.zoom-level-2 .map {
  transform: scale(1.2);
}

.zoom-level-3 .map {
  transform: scale(1.4);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.game {

  width:20%;
  height: 20vh;
  background-size: cover;
  background-position: top;
  backround-color: white;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-text: center;
  font-size: 2rem;
  position: relative;
  position: absolute;
  font-family: 'Press Start 2P', sans-serif;
  z-index: 1;

}

.collectibleswrapper {

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border-radius: 0.5rem;
  padding: 2rem;
}

.link {
  text-decoration: none;
}

.panel-row {
  color: white;
  padding: 2vh;

}

.solar-panel-row {
  color: white;
  align-text: center;
  font-size: 1rem;
  padding: 3.5vh;
}

.grid {
      display: grid;
      height:96%;
      width:96%;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 0%; /* Updated row gap value */
      grid-column-gap: 2%;
      margin: 2%;
    }

    .grid-diplomacy {
          display: grid;
          width:95%;
          grid-template-columns: repeat(3, 1fr);
          grid-row-gap: 0%; /* Updated row gap value */
          grid-column-gap: 2%;
          margin: 2%;
        }



        .grid-reasources {
              position: absolute;
              top: 10%;
              display: grid;
              height:85%;
              width:95%;
              grid-template-columns: repeat(1, 5fr);
              margin: 2%;
            }

        .grid-island-panel {
              display: grid;
              position: absolute;
              top: 60%;
              height:50%;
              width:95%;
              grid-template-columns: repeat(2, 1fr);
              grid-row-gap: 0%; /* Updated row gap value */
              grid-column-gap: 2%;
              margin: 2%;
            }

    .grid-item {
      background-color: grey;
      align-items: center;
      text-align: center;
      font-size: 15px;
      color: white;
      width: 100%;
      height: 75%;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .grid-item-reasources {
      background-color: grey;
      text-align: left;
      font-size: 30px;
      color: white;
      width: 100%;
      height: 80%;
      transition: opacity 0.3s ease;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .reasource-image {
      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/wheat.png");
      width: 50px;
      height: 50px;
    }

    .reasource-image-coffee {
      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/coffee.png");
      width: 40px;
      height: 40px;
    }

    .reasource-image-wood {
      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/wood.png");
      width: 50px;
      height: 50px;
    }

    .reasource-image-starstone {
      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/starstone.png");
      image-rendering: pixelated;
      width: 50px;
      height: 50px;
    }

    .reasource-image-metals {
      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/metals.png");
      width: 40px;
      height: 40px;
    }

    .reasource-image-fish {
      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/fish.png");
      width: 60px;
      height: 60px;
    }

    .text {
      position: absolute;
        left: 52%;
        top: 2%;
        width: 100%;
        text-align: left;
        font-size: 30px;
        color: white;
        transition: opacity 0.3s ease;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .reasource-link {

      position: absolute;
      font-family: 'Press Start 2P', sans-serif;
      left: 60%;
      color: black;
      cursor: pointer;
      font-size: 16px;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
      z-index: 10000;

    }

    .Zombie {

      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/zombie.png");

    }

    .Zombie-Fighting {

      position: absolute;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      background-image: url("./images/zombie.png");

    }

    .you-died-overlay {
      position: fixed;
      text-align: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); /* Dark grey with some transparency */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 48px;
      color: white;
      z-index: 9999; /* Ensure it appears above other elements */
    }

    .you-died-text {
      position:absolute;
      text-align: center;
      top: 25%;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }


    .text-user {
        width: 100%;
        padding: 5%;
        text-align: center;
        font-size: 10px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .grid-item:hover {
      opacity: 1;
    }
.panel-row-last {
  position: absolute;
  top: -10%;
  right: 0;
  color: white;
  margin-top: 3%;
  padding: 3.5vh;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.play-button {
  padding: 2vh;
  width: 100%;
  margin-left: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url("./images/woodboard.png");
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 30%;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.user {
  padding: 2vh;
  position: absolute;
  width: 20%;
  height: 7.5%;
  color: white;
  top: 8%;
  left: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url("./images/woodboard.png");
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  z-index: 5;
}

.starstones {
  padding: 2vh;
  position: absolute;
  width: 20%;
  height: 7.5%;
  color: white;
  top: 24%;
  left: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url("./images/woodboard.png");
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  z-index: 5;
}

.starstones-death {
  padding: 2vh;
  position: absolute;
  width: 20%;
  height: 7.5%;
  color: white;
  top: 55%;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url("./images/woodboard.png");
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  z-index: 5;
}

.starstones-death-2 {
  padding: 2vh;
  position: absolute;
  width: 20%;
  height: 7.5%;
  color: white;
  top: 55%;
  right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: url("./images/woodboard.png");
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  z-index: 5;
}

.zoom-button1 {
  padding: 2vh;
  position: absolute;
  top: 8%;
  left: 32%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size:500%;
  background-position: center;
  background-image: url("./images/woodboard.png");
  cursor: pointer;
  z-index: 9;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.zoom-button2 {
  padding: 2vh;
  position: absolute;
  top: 8%;
  left: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  font-weight: 500;
  z-index: 9;
  background-repeat: no-repeat;
  background-size:500%;
  background-position: center;
  background-image: url("./images/woodboard.png");
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  font-family: 'Press Start 2P', sans-serif;
  user-select: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.material-symbols-outlined {

  margin-right: 10%;
}

  html {
  scroll-behavior: smooth;
  }

.play-button:hover {
  transform: scale(1.1);
}

.zoom-button1:hover, .zoom-button2:hover {
  transform: scale(1.1);
}

.slide-out {
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.squarecontainer {

  width: 25%;
  height: 25%;
  top: 5%;
  right: 25%;
  position: absolute;
  transform: rotate(0deg);
  transition: transform 1s ease-out;
  transform-origin: 50% 50%;

}

.squarecontainer > div {
  position: absolute;
  transition: transform 1s ease-out;
  transform: rotate(0deg);
}

.squarecontainer > div.active {
  z-index: 1;
}


.bar {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  background-color: white;
}
