@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.homepage {
  color: white;
  background-color: #174688;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow-y: scroll;
  font-family: 'Press Start 2P', sans-serif;
  text-decoration: none;
}

.logo {

  background-image: url("./images/logo.png");
  position: absolute;
  width: 5rem;
  height: 5rem;

  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;

  left: 5%;
  top: 5%;
  transition: transform 0.5s ease; /* adding transition property */


}

.logo:hover {
transform: rotate(90deg); /* adding rotation transform on hover */
}

.link {
  text-decoration: none;
}

.title {
  color: white;
  font-size: 3vw;
  top: 30%;
  position: fixed;
  font-weight: 1000;
  margin: 0;
}

.buttonbox {

  top: 40%;
  position: fixed;
  z-index: 2;
}

.button, .button:visited {
  padding: 1vw 2vh;
  color: white;
  display: flex;
  align-items: center;
  width: 20vw;
  background-color: rgb(19, 20, 31);
  justify-content: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1vw;
  font-weight: 700;
  border: 0.5vh solid white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 2rem;
  text-decoration: none;
}

.button:hover, .headingbutton:hover, .headingbutton2:hover, .headingbutton3:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.text {
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  top: 55%;
  width: 30vw;
  padding: 20px;
  line-height: 2;
  z-index: 1;
  font-size: 1.25vw;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.popdown-menu-item:hover {
  background-color: #2262b5;
  opacity: 1;
  transform: scale(1.1);
}

.popdown-menu-item2:hover {
  background-color: #2262b5;
  opacity: 1;
  transform: scale(1.1);
}

.popdown-menu-item3:hover {
  background-color: white;
  opacity: 1;
  transform: scale(1.1);
}

.popdown-menu h3 {
  color: black;
  font-size: 3vh;
  background-color: white;
  text-align: center;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
}

 p {
  color: black;
  font-size: 1.8vh;
  padding: 0.75vh;
  text-align: center;
  opacity: 0.7;
  background-color: white;
  justify-content: center;
  line-height: 2;
  text-decoration: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 80%;
  width: 40%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 1vh;
  color: black;
  justify-content: center;
  align-items: center;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 80%;
  width: 40%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 1vh;
  color: black;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.planet {
  position: fixed;
  top: 60%;
  left: 10%;
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
  background-image: url("./images/roundisland.png");
  background-size: cover;
  z-index: 0;
  transition: transform 0.3s ease;
}

.waterplanet {
  position: fixed;
  top: 10%;
  left: 85%;
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
  background-image: url("./images/roundisland2.png");
  transform: scale(0.75);
  background-size: cover;
  z-index: 0;
  transition: transform 0.3s ease;
}

.mountainisland {
  position: fixed;
  top: 50%;
  left: 75%;
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
  background-image: url("./images/snakeisland.png");
  background-size: cover;
  z-index: 0;
  transition: transform 0.3s ease;
}

.rockyisland {
  position: fixed;
  top: 5%;
  left: 25%;
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
  background-image: url("./images/rockyisland.png");
  background-size: cover;
  z-index: 0;
  transition: transform 0.3s ease;
}


@keyframes planetMovement {
  0% {
    left: -35%;
  }
  100% {
    left: 125%;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 2vw; /* Minimum font size */
    width: 50%;
    top: 30%;
    left: 50%;
  }

  .board {

    width: 50%;
    height: 50%;

    top: 50%;
    right: 25%;



  }

  .map {

    width: 50%;
    height: 50%;

    top: 50%;
    right: 25%;



  }

  .token {

    width: 50%;
    height: 50%;

    top: 50%;
    right: 25%;



  }
}
