@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.home {
  background-image: url("./images/money.png");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.title {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  color: white;
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0;
}

.button, .button:visited {
  padding: 1rem 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 800;
  background-color: transparent;
  border: 0.5vh solid white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5rem;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.1);
  background-image: url("./images/soldier.png");
  color: transparent;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: bottom;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


.popdown-menu {
  top: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-height: 90vh;
  border-radius: 0.5rem;
  min-height:90vh;
  padding: 2rem;
}

.popdown-menu-item {
  background-color: #448cab;
  background-image: url("./images/napoleon.png");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  overflow: hidden;
  align-items: center;
  justify-content: bottom;
  padding: 2rem;
  border: 2px solid #000;
  width: calc(33.33% - 2rem);
  margin-right: 2rem;
  margin-bottom: 5rem;
  transition: transform 0.3s ease;
}

.popdown-menu-item2 {
  background-color: #448cab;
  background-image: url("./images/battle.png");
  background-size: cover;
  background-position: bottom;
  opacity: 0.8;
  width: calc(33.33% - 2rem);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;
  border: 2px solid #000;
  margin-right: 2rem;
  margin-bottom: 5rem;
  transition: transform 0.3s ease;
}

.popdown-menu-item3 {
  background-color: white;
  background-image: url("./images/backround2.png");
  background-size: cover;
  background-position: center;
  background-repeat: space;
  opacity: 0.8;
  width: calc(33.33% - 2rem);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;
  border: 2px solid #000;
  margin-right: 2rem;
  margin-bottom: 5rem;
  transition: transform 0.3s ease;
}

.popdown-menu-item:hover {
  background-color: #448cab;
  opacity: 1;
  transform: scale(1.1);
}

.popdown-menu-item2:hover {
  background-color: #448cab;
  opacity: 1;
  transform: scale(1.1);
}

.popdown-menu-item3:hover {
  background-color: white;
  opacity: 1;
  transform: scale(1.1);
}

.popdown-menu h3 {
  color: black;
  font-size: 3vh;
  background-color: white;
  text-align: center;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
}

 p {
  color: black;
  font-size: 1.8vh;
  padding: 0.75vh;
  text-align: center;
  opacity: 0.7;
  background-color: white;
  justify-content: center;
  line-height: 2;
  text-decoration: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 80%;
  width: 40%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: 1vh;
  color: black;
  justify-content: center;
  align-items: center;
}
